
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oxanium';
    src: url('../fonts/Oxanium-VariableFont_wght.ttf') format('truetype');
    font-weight: 600 700;
    font-style: normal;
    font-display: swap;
}
