:root {
    --font-Inter: "Inter", sans-serif;
    --font-Readex: "Readex Pro", sans-serif;

    --general-text: #000;
}


body {
    background: #fff;
    font-family: var(--font-Inter), var(--font-Readex);
    color: var(--general-text);
}

body.no-scroll {
    overflow: hidden;
}

.home {
    padding-bottom: 1.875rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

.container {
    position: relative;
    max-width: 82.75rem;
    min-width: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.938rem;
}

.underlining::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 115%;
    width: 100%;
    height: .125rem;
    background-color: var(--general-text);
    transform: scaleX(0);
    transition: 0.4s ease;
}

.underlining:hover::after {
    transform: scaleX(1);
}

.btn {
    display: inline-block;
    font-family: var(--font-Inter);
    max-width: 11.875rem;
    border-radius: 30px;
    border: 1px solid var(--general-text);
    padding: .875rem 3.9375rem;
    font-size: 1.125rem;
    line-height: 1.2;
    text-align: center;

    transition: .4s ease-in-out;
}

.btn:hover {
    background-color: var(--general-text); 
    color: #fff; 
}

/* // dropdown */

.dropdown {
    opacity: 0;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    background: #fff;
    box-shadow: 0 5px 5px 0 rgb(0, 0, 0, .2);
    top: calc(100% + .2rem);
    min-width: 9.375rem;
    padding: 1.25rem;
    border-radius: .9375rem;
    z-index: 1001;
    transform: translateY(-0.625rem);
    pointer-events: none;

    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.dropdown.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown__item:not(:last-child) {
    margin-bottom: 1.25rem;
}

.dropdown__link {
    position: relative;
    line-height: 1.2;
    z-index: 1001;
}

.dropdown-icon {
    transition: transform 200ms ease-in-out;
    pointer-events: auto;
}

.dropdown-icon.active {
    transform: rotate(180deg);
}