.home {
    padding-bottom: 4.6875rem;
}

.home__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 82.75rem;
    background: var(--accent-color-2);
}

.home__swiper .swiper-button-prev::after,
.home__swiper .swiper-button-next::after {
    color: var(--general-color);
    font-size: 1.5rem;
}

.home__swiper {
    position: relative;
    max-width: 80.875rem;
    min-width: 0;
    height: auto;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 2rem;
}

.home__slide {
    border-radius: 2rem;
}

.home__slide-wrapper {
    font-family: var(--font-Inter);
    padding: 9.0625rem 0 7.9375rem 3.5rem;
    line-height: 1.2;
}

.home__slide-title {
    font-family: var(--font-Readex);
    font-size: 3.625rem;
    margin-bottom: 1.1875rem;
}

.home__slide-text {
    font-size: 1rem;
    margin-bottom: 1.875rem;
}

.home__slide-btn {
    max-width: 10.625rem;
    padding: .875rem 3.3125rem;
}

.home__slide-img {
    max-width: 100%;
    height: auto;
}

.home__pagination {
    margin-bottom: 1.25rem;
}

.home__pagination .swiper-pagination-bullet {
    background: #000;
    width: 100%;
    max-width: 12.125rem;
    height: .125rem;
    border-radius: unset;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, .9375rem);
}