@import "fonts.css";
@import "reset.css";
@import "globals.css";

@import "header.css";

/* ////// home */

.home {
    padding-bottom: 4.6875rem;
}

.home__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 82.75rem;
    background: #dce5e2;
}

.home__swiper .swiper-button-prev::after,
.home__swiper .swiper-button-next::after {
    color: var(--general-text);
    font-size: 1.5rem;
}

.home__swiper {
    position: relative;
    max-width: 80.875rem;
    min-width: 0;
    height: auto;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 2rem;
}

.home__slide {
    border-radius: 2rem;
}

.home__slide-wrapper {
    font-family: var(--font-Inter);
    padding: 9.0625rem 0 7.9375rem 3.5rem;
    line-height: 1.2;
}

.home__slide-title {
    font-family: var(--font-Readex);
    font-size: 3.625rem;
    margin-bottom: 1.1875rem;
}

.home__slide-text {
    font-size: 1rem;
    margin-bottom: 1.875rem;
}

.home__slide-btn {
    max-width: 10.625rem;
    padding: .875rem 3.3125rem;
}

.home__slide-img {
    max-width: 100%;
    height: auto;
}

.home__pagination {
    margin-bottom: 1.25rem;
}

.home__pagination .swiper-pagination-bullet {
    background: #000;
    width: 100%;
    max-width: 12.125rem;
    height: 2px;
    border-radius: unset;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, .9375rem);
}

/* // latest */

.latest {
    padding-bottom: 6.25rem;
    font-family: var(--font-Readex);
}

.latest__title {
    font-weight: 400;
    font-size: 2.625rem;
    text-align: center;
    line-height: 1.25;
    ;
    margin-bottom: .5rem;
}

.latest__text {
    margin: 0 auto;
    text-align: center;
    max-width: 39.25rem;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.2;
    margin-bottom: 3.4375rem;
}

.latest__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 1rem;
    grid-template-areas:
        "latest__laptops latest__phones latest__tablets"
        "latest__watch latest__phones latest__tablets"
        ". . .";
}

.product {
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    max-width: 100%;
    overflow: hidden;
}

.product-name {
    line-height: 128%;
    font-size: .9375rem;
    font-family: var(--font-Inter);
}

.product-text {
    font-size: 2rem;
    line-height: 1.2;
}

.product-img:hover {
    transform: scale(1.1);
}

.latest__laptops {
    grid-area: latest__laptops;
    height: 472px;
    max-height: 100%;
}

.latest__laptops-img,
.latest__watch-img {
    padding-left: 2.625rem;
}


.latest__laptops-wrap,
.latest__watch-wrap {
    text-align: right;
    padding-right: 2.625rem;
}

.latest__phones {
    grid-area: latest__phones;
}

.latest__tablets {
    grid-area: latest__tablets;
}

.latest__watch-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.latest__laptops-text {
    max-width: 12.5rem;
    margin-left: auto;
}

.latest__watch {
    grid-area: latest__watch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: -30px;
    max-height: 270px;
    height: 270px;
}

.latest__watch-img {
    height: 270px;
    max-width: unset;
    width: 100%;
}

.latest__laptops,
.latest__watch {
    width: 39.9375rem;
    max-width: 100%;
}

.latest__phones,
.latest__tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 792px;
    max-height: 100%;
}

.latest__phones-img {
    padding-left: 16px;
}

.latest__phones-wrap {
    padding: 2.5rem 1.875rem 0 1.875rem;
}



.latest__tablets-wrap {
    padding: 0 1.875rem 2.5rem 1.875rem;
}

/* /// bestsellers */

.bestsellers {
    padding-bottom: 4.625rem;
}

.bestsellers__text {
    margin-bottom: 3.6875rem;
}

/* .bestsellers__text {

} */

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.7188rem;
}

.showcase__product {
    max-height: 24.75rem;
    max-width: 18.875rem;
}

.showcase__product-img {
    padding: 0 1.75rem 1.75rem 1.75rem;
}

.showcase__product-name {
    font-family: var(--font-Readex);
    font-size: 1.375rem;
    line-height: 1.25;
    ;
    /* margin-bottom: .5625rem; */
}

.showcase__product-wrap {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.showcase__product-name {
    white-space: nowrap;
}

.showcase__product-text {
    max-width: 261px;
    height: 51px;
    max-height: 100%;
    margin: 9px 0 8px 0;
    font-size: .875rem;
    line-height: 1.2;
    color: #4b4b4b;
}

.showcase__product-price {
    font-size: 1.125rem;
    line-height: 1.2;
}

/* ///// best-around */

.best-around {
    padding-bottom: 4.625rem;
}

.best-around__text {
    margin-bottom: 56px;
}

.best-around__categories {
    display: flex;
    gap: 0 1.75rem;
}

.best-around__categories-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f8f9fa;
    max-width: 25.8125rem;
    width: 100%;
    height: 453px;
    border-radius: 1rem;

    overflow: hidden;
}

.best-around__categories-card-wrap {
    padding: 2.5625rem 5rem 1.875rem 5rem;
}

.best-around__categories-card__text {
    font-family: var(--font-Readex);
    font-size: .8125rem;
    line-height: 1.29;
}

.best-around__categories-card__title {
    font-family: var(--font-Readex);
    white-space: nowrap;
    font-size: 1.75rem;
    line-height: 1.25;
    margin-bottom: 1.875rem;
}

.best-around__categories-card__img {
    margin-top: auto;
}

/* .best-around__categories-card__btn {} */

.best-around__categories-card__img {
    padding: 0 4.8125rem;
}

.ideas {
    padding-bottom: 6.25rem;
}

.ideas__text {
    margin-bottom: 56px;
}

.ideas__wrapper {
    max-width: 38.75rem
}

.ideas__swiper {
    display: flex;
    gap: 0 35px;
    border-radius: 1rem;
    margin-bottom: 4.625rem;
}

.ideas__slide-img {
    max-width: 100%;
    height: auto;
}

.ideas__wrapper {
    max-width: 38.75rem;
    max-height: 26.25rem;
}


.ideas__phrases {
    font-family: var(--font-Inter);
    font-size: 1.5rem;
    line-height: 1.25;
}

.ideas__phrases {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 28px 0;
    z-index: 1000;
}

.ideas__see-all__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1.2;
}

.ideas__see-all__link.underlining::after {
    top: 100.2%;
    max-width: 9.375rem;
    margin: 0 auto
}

.search {
    padding-bottom: 200px;
}

.search__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1100px) {

    .header {
        padding-bottom: 1.875rem;
    }

    .header__inner {
        display: flex;
    }

    .header__menu {
        display: none;
    }

    .header__list {
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        overflow-y: auto;
        /* height: 100%; */
        padding: 17.5rem 0 0 3rem;
        max-height: 100dvh;
        z-index: 1002;
    }

    .underlining::after {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .user-nav {
        margin-left: auto;
        margin-right: 0;
    }

    .user-nav__item:not(:last-child) {
        margin-right: 1.5625rem;
    }

    .dropdown {
        display: none;
    }

    .dropdown-icon {
        display: none;
    }

    .section {
        padding-bottom: 3.125rem;
    }

    .home {
        padding: 0 .9375rem 2.5rem .9375rem;
    }

    .home__slide-title {
        font-size: 2.375rem;
        margin-bottom: 1.1875rem;
    }

    .home__slide-img {
        width: 100%;
    }

    .home__pagination .swiper-pagination-bullet {
        max-width: 10vw;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, .625rem);
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        margin-bottom: 2.5rem;
    }

    /* // */

    .latest {
        padding-bottom: 2.8125rem;
    }

    .latest__title {
        font-size: 2rem;
    }

    .latest__products {
        grid-template-columns: 1fr 1fr;
        gap: 2vh 1.25rem;
        grid-template-areas:
            "latest__laptops latest__laptops"
            "latest__phones latest__tablets"
            "latest__watch latest__watch";
    }

    .latest__laptops,
    .latest__watch {
        /* margin: 0 auto; */
        justify-self: center;
    }

    .latest__laptops-wrap {
        padding-top: .625rem;
    }

    .latest__phones,
    .latest__tablets {
        justify-self: center;
        max-width: 19.5rem;
    }

    .latest__watch {
        margin-top: 0;
        margin-bottom: 0;
    }

    .latest__watch-img {
        padding-left: 0;
        height: auto;
    }

    .bestsellers {
        padding-bottom: 2.8125rem;
    }

    .bestsellers__title {
        font-size: 2rem;
    }

    .product-text {
        font-size: 1.5rem;
    }

    .product {
        height: auto;
    }

    .latest__tablets-wrap {
        padding: 2.5rem 1.875rem 2.5rem 1.875rem;
    }

    .best-around__title {
        font-size: 2rem;
    }

    .best-around__categories {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vh 1.75rem;
    }

    .ideas__swiper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ideas__phrases {
        margin-top: 1.875rem;
        text-align: center;
    }
}

@media (max-width: 800px) {

    .latest__products {
        gap: 2vh 1.25rem;
    }

    .home__slide {
        display: flex;
        flex-direction: column;
    }

    .home__slide-title {
        font-size: 30px;
        margin-bottom: 1.1875rem;
    }

    .home__slide-img {
        width: 100%;
        height: 100%;
        padding-bottom: 1.875rem;
    }

    .home__slide-wrapper {
        text-align: center;
        padding: 3.125rem 3.125rem .625rem 3.125rem;
    }

    .home__pagination {
        margin-bottom: .3125rem;
    }

    .showcase {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.7188rem;
    }

    .showcase__product {
        margin: 0 auto;
    }

    .ideas__swiper {
        margin-bottom: 3.125rem;
    }
}

@media (max-width: 600px) {
    .user-nav__item:not(:last-child) {
        margin-right: 1.25rem;
    }

    .home__slide-title {
        font-size: 1.5rem;
        margin-bottom: 1.1875rem;
    }

    .latest__title {
        font-size: 1.8rem;
    }

    .latest__text {
        font-size: 1rem;
    }

    .bestsellers__title {
        font-size: 1.8rem;
    }

    .ideas__phrases {
        margin-top: 1.875rem;
        text-align: left;
    }
}

@media (max-width: 500px) {

    .title {
        font-size: 1.8rem;
    }

    .bestsellers__text {
        margin-bottom: 0;
    }

    .showcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.7188rem;
    }

    .showcase__product-img {
        padding: 0 1.75rem 15px 1.75rem;
    }

    .showcase__product-wrap {
        text-align: center;
    }

    .showcase__product-text {
        margin: 9px auto 8px auto;
    }

    .best-around__categories-card-wrap {
        padding: 41px 50px 30px 50px;
    }

    .best-around__categories-card__img {
        padding: 0 50px;
    }
}