div {
    font-size: 20px;
}

.text1 {
    font-family: "Open Sans", sans-serif;
    /* font-size: 20px; */
    line-height: 30px;
}

.text2 {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.text3 {
    text-align: center;
    text-transform: uppercase;
}

.text4 {
    word-spacing: 30px;
    text-shadow: 1px 2px 2px #c45cdc;
    text-decoration: overline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.40px;
}

.text5 {
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}