:root {
    --font-family: "Work Sans", sans-serif;
    --second-family: "Oxanium", sans-serif;

    --white-general-text: #f5fbf2;
    --yellow-accent-color: #ffce4e;
    --btn-bg-color: #e9d7a71a;

    --transition-time: 0.4s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background: #1c121f;
}

main {
    padding: 30vh 0;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 30px;
    min-height: 100%;
    width: 100%;
}

.container {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

.header {
    padding-bottom: 140px;
}

.btn {
    display: inline-block;
    background: var(--btn-bg-color);
    color: var(--white-general-text);
    padding: 24px 76px;
    font-size: 1.75rem;
    text-align: center;
    border: 1px solid var(--yellow-accent-color);
    width: 100%;
    height: 84px;
    font-weight: 600;
    line-height: 1.2;
    backdrop-filter: blur(50em);

    transition: var(--transition-time);
}

.btn:hover {
    background: var(--yellow-accent-color);
    color: #16091b;
}

/* .blop {
    position: absolute;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    opacity: .9;
    z-index: -50;
    filter: blur(450px);

    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
} */
/* animation: blopMorph 8s linear infinite; */

/* .blop1 {
    left: 68%;
    top: 51%;
    transform: rotate(-69deg);
    width: 25.125rem;
    height: 13rem;
    background-color: rgba(231, 178, 38, .7);
    box-shadow: 0 0 70px rgba(231, 178, 38);
}

.blop2 {
    left: 49%;
    top: 42%;
    width: 19.5rem;
    height: 19.5rem;
    background-color: rgb(189, 0, 173, 0.7);
    box-shadow: 0 0 80px rgb(189, 0, 173);
}

.blop3 {
    left: 55%;
    top: 59%;
    transform: rotate(204deg);
    width: 27.8125rem;
    height: 15.4375rem;
    background: rgba(96, 231, 206, 0.67);
    box-shadow: 0 0 80px rgba(96, 231, 206);
}

.blop4 {
    top: 29%;
    left: 53%;
    transform: rotate(164deg);
    width: 27.8125rem;
    height: 14.1875rem;
    background: rgba(231, 178, 38, 0.83);
    box-shadow: 0 0 80px rgba(231, 178, 38);
}

.blop5 {
    top: 20%;
    left: 66%;
    transform: rotate(67deg);
    width: 27.8125rem;
    height: 14.1875rem;
    background: #d53d5c;
    box-shadow: 0 0 80px rgb(213, 61, 92);
}

.blop6 {
    top: 15%;
    left: 56%;
    transform: rotate(161deg);
    width: 334px;
    height: 188px;
    background: rgba(96, 231, 206, 0.7);
    box-shadow: 0 0 80px rgba(96, 231, 206);
} */

@keyframes blopMorph {

    0%,
    100% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }

    33% {
        border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
    }

    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}

.blur-bg {
    position: absolute;
    overflow: hidden;
    transform: scale(1);
    top: 0%;
    left: 52%;
    max-width: 800px;
    height: 41.078vw;
    height: 1063px;
    width: 100%;
    background: rgba(79, 70, 78, 0.30);
    z-index: -10;
    opacity: 1;
    backdrop-filter: blur(2px);
    display: none;
}

.main {
    flex-grow: 1;
}