.footer {
    background: #AB8261;
    color: var(--general-bg);
    padding: 30px 0 60px;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}

.footer__col {
    margin-top: 30px;
}

.footer__col:first-child {
    margin-top: 0px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__link path {
    transition: var(--transition-time);
}

.socials__link:hover path {
    fill: var(--accent-color);
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    position: absolute;
    content: '';
    top: -0.5rem;
    left: -0.8125rem;
    z-index: -1;
    background: var(--accent-color);
    border-radius: 100%;
    width: 2.125rem;
    height: 2.125rem;
    opacity: 0;
    transition: var(--transition-time);
}

.footer__col-link:hover::before {
    opacity: 1;
}

.footer__info-item {
    margin-bottom: 10px;
}

.footer__info-item:last-child {
    margin-bottom: 0px;
}

.footer__contact-list {
    display: grid;
    justify-content: end;
}

.footer__contact-item:nth-child(2) {
    margin-bottom: 40px;
}

.footer__contact-number {
    line-height: 1.6;
    font-size: 24px;
    font-weight: 500;
}

.copyright {
    color: #DEC5B1;
}